body {
  background-color: #e95420;
}

.container {
  background-color: white;
}

.thumbs {
  text-align: center;
}

.thumbnail {
  width: 100px;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}
